@import "tailwindcss";

:root {
  --background: #040402;
  --foreground: #fefefe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-black: #040402;
  --color-brand-blue: #02b1ea;
  --color-brand-white: #fefefe;
  --color-brand-purple: #7028b8;
  --color-brand-yellow: #f8b818;

  --font-display: var(--font-josefin);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-josefin);
}
